* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.tab-container {
    width: 50%;
    background-color: #ccc;
    padding: 15px;
    border-radius: 7px;
}

.tap-content {
    height: 40vh;
    background-color: #222;
    color: #CCC;
    padding: 7px;
    margin-top: 15px;
    border-radius: 7px;
}

.btn {
    padding: 5px 15px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-inline-end: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    background-color: #222;
    color: #ccc;
}

@media screen and (max-width:920px) {
    .tab-container{
        width: 95%;
    }
}